/doc/
/libs/
/.crystal/
/.shards/
.idea
Gemfile
Gemfile.lock
Guardfile

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock

bit_pack_generator.*
